{
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  height: auto;
}

.navbar {
  align-self: center;
  background-color: rgba(79, 82, 18, 0.51);
  background-position: center;
  width: auto;
  height: 128px;
  margin: inherit;
  margin-top: 0px;
  padding: 20px;
  color: rgba(255, 255, 252, 0.99);
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
}
.container{
  width: auto;
  height: 500px;
}
.container .lat{
  width: 25%;
  float: left;
  background-color: rgba(255, 150, 0, 0.5);
  height: 600px;
  margin: inherit;
  margin-top: 0px;
  padding: 20px;
  color: rgba(255, 255, 252, 0.99);
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;

}
.container .centro{
  float : right;
  width: 70%;
  background-color: rgba(55, 150, 150, 0.5);
  margin: inherit;
  margin-top: 0px;
  padding: 20px;
  color: rgba(255, 255, 252, 0.99);
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  height: 600px;
}
